# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Docker files
docker-compose.override.yml
docker-compose.override.yaml
Dockerfile*
